In [4]:
# Imports

import pandas as pd

import matplotlib.pyplot as plt

In [5]:
# Show df to ensure it works

vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R8EWA1OFT84NX,5,0,0,N,Y
1,R2JWY4YRQD4FOP,5,0,0,N,N
2,RL5ESX231LZ0B,5,0,0,N,Y
3,RRMS9ZWJ2KD08,5,0,0,N,Y
4,R14I3ZG5E6S7YM,5,0,0,N,Y

In [6]:
# Detail the info in the df

vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   review_id          1048575 non-null  object
 1   star_rating        1048575 non-null  int64
 2   helpful_votes      1048575 non-null  int64
 3   total_votes        1048575 non-null  int64
 4   vine               1048575 non-null  object
 5   verified_purchase  1048575 non-null  object
dtypes: int64(3), object(3)
memory usage: 48.0+ MB

In [10]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count 
# is equal to or greater than 20 

revised_vine_df = vine_df[vine_df["total_votes"] >= 20]

revised_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
1954,R3N0XV9267NOXV,5,41,47,Y,N

In [12]:
# Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows 
# where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

new_vine_df = revised_vine_df.loc[revised_vine_df.helpful_votes / revised_vine_df.total_votes >= 0.5]

new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
1954,R3N0XV9267NOXV,5,41,47,Y,N

In [23]:
# Filter the DataFrame or tabl e created in Step 2, and create a new DataFrame or table 
# that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

vine_reviews = new_vine_df[new_vine_df["vine"] =="Y"]

vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1954,R3N0XV9267NOXV,5,41,47,Y,N
5736,RSA6JQ346JZHZ,5,55,64,Y,Y
7385,R1FXF4HRMCLG4C,5,69,84,Y,N
7883,RCTBWC3II42MG,4,113,117,Y,N
24464,RTMQM2CQ1XIZ0,5,21,25,Y,N

In [24]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

not_vine_reviews = new_vine_df[new_vine_df["vine"] =="N"]

not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
591,ROI00QN8IS49I,5,83,91,N,N
1122,R13C5INE1RTZP6,2,26,26,N,Y
1311,RXVMMXCL67MZN,4,378,383,N,Y
1837,R33JJQWAUYBKD3,5,270,280,N,Y
2056,R31HQD6YXSQV1W,3,40,48,N,Y

In [25]:
# Determine the total number of reviews

total_vine_reviews = len(vine_reviews)

total_vine_reviews

222

In [26]:
total_non_vine_reviews = len(not_vine_reviews)

total_non_vine_reviews

6704

In [30]:
# Determine the total number of 5 star reviews for vine

max_rating_vine = len(vine_reviews[vine_reviews["star_rating"]==5])

max_rating_vine

111

In [32]:
# Determine the total number of 5 star reviews for non-vine

max_rating_non_vine = len(not_vine_reviews[not_vine_reviews["star_rating"]==5])
                                           
max_rating_non_vine

3339

In [34]:
# Determine the percentage of 5 star reviews for paid reviews 

max_rating_vine/total_vine_reviews

0.5

In [36]:
# Determine the percentage of 5 star reviews for unpaid reviews

max_rating_non_vine/total_non_vine_reviews

0.49806085918854415